<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Real-Time Chat Application</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>

</head>
<body>
	<div class="container mt-4">
		<h1 class="text-center">Real-Time Chat Application</h1>
		<div id="chat" class="border rounded p-3 mb-3" style="height:300px; overflow-y:auto; ">
		
		</div>
		
		<div class="input-group mb-3">
			<input id="senderInput" placeholder="Your Name" type="text" class="form-control"/>
		</div>
		
		<div class="input-group mb-3">
			<input id="messageInput" placeholder="Type a Message..." type="text" class="form-control"/>
		
			<div>
				<button id="sendMessage" class="btn btn-primary">Send</button>
			</div>
		</div>
	</div>
</body>
<script>

	function setConnected(connected){
		document.getElementById('sendMessage').disabled = !connected;
	}
	
	function connect(){
		var socket = new SockJS('/chat');
		stompClient = Stomp.over(socket);
		stompClient.connect({}, function (frame) {
			setConnected(true);
			stompClient.subscribe('/topic/messages', function(mesage){
				showMessage(JSON.parse(message.body));
				});
	
		});
	}
		function showMessage(message){
			var chat = document.getElementById('chat');
			var messageElement = document.createElement('div');
			messageElement.textContent = message.sender + ': ' + message.content;
			messageElement.class = "border-bottom mb-1";
			chat.appendchild(messageElement);
			chat.scrollTop = chat.scrollHeight;
			}

		function sendMessage(){
			var sender = document.getElementById('senderInput').value;
			var content = document.getElementById('messageInput').value;
			var chatMessage = {
				sender: sender,
				content: content
			}
			stompClient.send("/app/sendMessage", {}, JSON.stringify(chatMessage));
			document.getElementById('messageInput').value ='';
		}
		document.getElementById('sendMessage').onclick = sendMessage;
		window.onload = connect;
	
</script>
</html>