<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Real-Time Chat Application</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>
	<div class="container mt-4">
		<h1 class="text-center">Real-Time Chat Application</h1>
		<div id="chat" class="border rounded p-3 mb-3" style="height:300px; overflow-y:auto; ">
		
		</div>
		
		<div class="input-group mb-3">
			<input id="senderInput" placeholder="Your Name" type="text" class="form-control"/>
		</div>
		
		<div class="input-group mb-3">
			<input id="messageInput" placeholder="Type a Message..." type="text" class="form-control"/>
		
			<div>
				<button id="sendMessage" class="btn btn-primary">Send</button>
			</div>
		</div>
	</div>
</body>
</html>